POSTGRES_DB=dashboard_afazio
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/dashboard_afazio
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres

APP_GOOGLE_CALENDAR_ID=primary
APP_CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,http://localhost:5173,http://127.0.0.1:5173
APP_FRONT_URL=http://localhost:5173

APP_TEACHER_NAME=Antonella Fazio
APP_TEACHER_CUIT=27361923850

SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_GOOGLE_CLIENT_ID=changeme-client-id
SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_GOOGLE_CLIENT_SECRET=changeme-client-secret
